* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(220, 220, 220);
  max-height: 100%;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
}

.titles-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.titles-section>.title {
  font-size: 10rem;
  margin: 0;
  padding: 0;
}

.library {
  width: 100%;
}

.card-container {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 0.2rem;
  display: grid;
  justify-content: start;
  align-items: start;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 190px);
  gap: 1.5rem;
}

.card {
  display: flex;
  width: 100%;
  max-width: 12rem;
  min-width: 12rem;
  height: auto;
  max-height: 15rem;
  background-color: rgba(98, 68, 68, 0.119);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  min-height: 12rem;
}

.card .side {
  min-height: 100%;
  max-width: 2rem;
  min-width: 2rem;
  color: #333333;
  background-color: rgb(148, 79, 79);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card>.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.2rem;
  padding: 0.5rem;
  width: 100%;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333333;
  margin: 0;
  line-height: 1.2;
}

.author {
  font-size: 1rem;
  color: #323232;
  margin: 0;
}

.pages,
.read {
  font-size: 0.9rem;
  color: #3a3a3a;
  margin: 0;
}

.read>* {
  font-weight: bold;
  display: inline;
}

.read>.stat {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.unread-status {
  background-color: rgba(226, 53, 53, 0.686);
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.read-status {
  background-color: rgb(110, 170, 118);
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 4px;
}

.titles-section>button {
  font-family: inherit;
  border-radius: 0;
  border: 1px solid black;
  font-size: 1.1rem;
  width: 100%;
  border-left: 0;
  border-right: 0;
}

form {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  width: 15rem;
  position: relative;
  z-index: 1;
  margin-top: -11.2rem;
}

form>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.form-hidden {
  display: none;
}

.material-symbols-outlined {
  font-size: 1rem;
  color: #787878;
  cursor: pointer;
  user-select: none;
}

.bottom-half {
  text-align: end;
  width: 100%;
}

.sample-card-structure {
  display: none;
}